body {
    margin: 0;
    background-color: #FFCCFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 80px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 75px;
}

header {
    background-color: #000000;
    display: table;
    width: 100%;
    height: 90px
}

.news {
    color: #FFD700;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold
}

.market {
    color: #FFD700;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold
}

.reviews {
    color: #FFD700;
    line-height: 90px;
    font-size: 30px;
    font-weight: bold
}

.contacts {
    color: #007FFF;
    line-height: 90px;
    font-size: 40px;
    font-weight: bold
}

.themes {
    background: #271c1a8c;
    float: left;
    font-size: 19px;
    width: 15%;
    height: 350px;
    margin-left: 7%;
    margin-top: 40px;
    border-radius: 14px;
    padding-left: 10px;
    padding-top: 60px;
    color: #00ff99d1;
}

.contentss {
    background: #271c1a8c;
    font-size: 19px;
    width: 68%;
    margin-left: 22%;
    margin-top: 40px;
    border-radius: 14px;
    padding-left: 100px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.rainbowborder {
   background-color:#1e192780;
  border: 3px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin-bottom: 20px;
   padding-top: 5px;
}

.discus {
    background: #271c1a8c;
    font-size: 19px;
    width: 70%;
    margin-left: 280px;
    margin-top: 40px;
    border-radius: 14px;
    padding-left: 100px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.sale {
    background: #271c1a8c;
    font-size: 19px;
    width: 68%;
    margin-left: 16%;
    margin-top: 40px;
    border-radius: 14px;
    padding-left: 100px;
    padding-right: 45px;
    padding-top: 60px;
    padding-bottom: 60px;

}

.green {
 color: #ffffff;
 text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #00ff00, 0 0 80px #00ff00, 0 0 90px #00ff00, 0 0 100px #00ff00, 0 0 150px #00ff00;
}

.goods {
  width: 70%;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #271c1a8c;
  margin-left: 20%;
  border-radius: 7px;
  margin-top: 20px;
  padding-left: 5%;
}

.border-gradient-green {
   background-color:#1e192780;
  border: solid;
  border-image-slice: 1;
  color: white;
  border-radius: 6px;
  width: 96%;
  padding-left: 5px;
  height: 95px;
  padding-right: 6px;
  border-width: 3px;
  margin-top: 40px;
  border-image-source: linear-gradient(to left, #ff0000, #fdff00);
}

.icons2{
  width: 14%;
  padding-top: 10px;
  padding-bottom: 50px;
  background-color: #271c1a8c;
  color: white;
  margin-left: 6%;
  list-style: none;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 50px;
  float: left;
}

div img{
    height: auto;
    width: auto;
    max-width: 600px;
    max-height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

pre{
  color: white;
}