form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #d22e3a;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

a {
	text-decoration: none !important;
	border: none !important;
}
