{% extends "base.html" %}

{% block content %}
    <div class="container w-50 bg-dark rounded-3 mt-3 p-3 text-center">
        <h1 class="green" style="text-align: center;">Продажа аккаунта</h1>
        <form action="" method="post" style="padding-top: 20px;">
            {{ form.hidden_tag() }}
            <p style="color: white">
                {{ form.name.label }}<br>
                {{ form.name(class="form-control", placeholder='Аккаунт с 1000+ друзей', style='color: black') }}<br>
                {% for error in form.name.errors %}
                    <div style="color: red">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p style="color: white">
                {{ form.about.label }}<br>
                {{ form.about(class="form-control", placeholder='На аккаунте более 1000 друзей, закрытый профиль. Подходит для скама или спама.', style='color: black') }}<br>
                {% for error in form.about.errors %}
                    <div style="color: red">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p style="color: white">
                {{ form.category.label }}<br>
                {{ form.category(class="form-control", style='color: black') }}<br>
                {% for error in form.category.errors %}
                    <div  style="color: red">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p style="color: white">
                {{ form.link.label }}<br>
                {{ form.link(class="form-control", placeholder='https://www.instagram.com/dirtymorty', style='color: black') }}<br>
                {% for error in form.link.errors %}
                    <div  style="color: red">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p style="color: white">
                {{ form.price.label }}<br>
                {{ form.price(class="form-control", style='color: black') }}<br>
                {% for error in form.price.errors %}
                    <div style="color: red">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p style="color: white">
                {{ form.count.label }}<br>
                {{ form.count(class="form-control", style='color: black') }}<br>
                {% for error in form.count.errors %}
                    <div style="color: red">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-success") }}</p>
                  {% if message|length > 1 %}
             <div class="alert alert-danger" style="max-width: 800px">{{message}}</div>
            {% endif %}
        </form>
    </div>
{% endblock %}