{% extends "base.html" %}

{% block content %}
<div class="container w-50 bg-dark rounded-3 mt-3 p-3 text-center">
    {% if edit %}
    <h2 class="simple-btn">Редактирование товара</h2>
    {% else %}
    <h2 class="simple-btn">Добавление товара</h2>
    {% endif %}
    <form action="" method="post">
        <div class="mx-auto p-0">
            {{ form.hidden_tag() }}
            <div class="container-fluid my-4">
                {{ form.name.label }}
                {{ form.name(class="form-control", placeholder='Название аккаунта') }}
                {% for error in form.name.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="container-fluid my-4">
                {{ form.about.label }}
                {{ form.about(class="form-control", placeholder='Описание акканута') }}
                {% for error in form.about.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="container-fluid my-4">
                {{ form.category.label }}
                {{ form.category(class="form-control") }}
                {% for error in form.category.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="container-fluid my-4">
                {{ form.link.label }}
                {{ form.link(class="form-control", placeholder='Ссылка для связи') }}
                {% for error in form.link.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="container-fluid my-4">
                {{ form.price.label }}
                {{ form.price(class="form-control", placeholder='Цена') }}
                {% for error in form.price.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="container-fluid my-4">
                {{ form.submit(type="submit", class="btn btn-primary") }}
            </div>
            {% if message|length > 1 %}
            <div class="alert alert-danger mt-2">
                {{ message }}
            </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}