<!DOCTYPE html>
<html lang="en" style="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/site-logo.png') }}" type="image/png">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <style>
        * {
            font-family: 'Open Sans', sans-serif;
            color: #d1d1d1;

        }

        body {
            background-color: #4e5761;
        }

        .white-border {
            border-color: #d1d1d1 !important;
        }

        .simple-btn {
            color: #ebebeb !important;
        }

        .text-dark {
            color: #212529 !important;
        }

        img {
            max-width:100%;
            height: 100%;
        }

        .text-black {
            color: black;
        }
    </style>
    <title>{{ title }}</title>
</head>
<body class="container-fluid p-0">
<header class="container-fluid bg-dark p-0 m-0">
    <nav class="navbar navbar-white bg-dark p-0 m-0 w-50 mx-auto">
        <div class="navbar-brand text-center m-2 p-0">
            <a href="/">
                <img src="{{ url_for('static', filename='img/site-logo.png') }}"
                     class="me-1" width="45" height="45">
            </a>
            GOLDEN MARKET
        </div>
        {% if current_user.is_authenticated %}
        <div class="dropdown d-flex m-2 p-0">
            <h5 class="dropdown my-auto mx-2" id="dropdownMenuLabel"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{ current_user.name }}</h5>
            <button class="dropdown bg-dark border-0 p-0" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {% if is_photo %}
                <img src="{{ url_for('static', filename=photo) }}" width="40" height="40"
                     class="rounded-circle border border-3 border-success">
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                     style="">
                    <rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none"
                          stroke="none" class="" style=""/>
                    <g class="currentLayer" style=""><title>Layer 1</title>
                        <path d="M29.673590507069914,14.905141701277778 a9.538625579103858,9.538625579103858 0 1 1 -19.077251158207716,0 a9.538625579103858,9.538625579103858 0 0 1 19.077251158207716,0 z"
                              id="svg_1" class="" fill="#198754" fill-opacity="1"/>
                        <path fill-rule="evenodd"
                              d="M0.1423707085346423,20.03248205185983 a19.91570219863874,19.91570219863874 0 1 1 39.83140439727748,0 A19.91570219863874,19.91570219863874 0 0 1 0.1423707085346423,20.03248205185983 zm19.91570219863874,-17.4262394238089 a17.4262394238089,17.4262394238089 0 0 0 -13.612382452769586,28.305191749815314 C8.213209024532947,28.0634889634609 12.104239341592073,25.011407601519522 20.058072907173383,25.011407601519522 s11.842374419865562,3.0495918991665585 13.612382452769586,5.90002677634673 A17.4262394238089,17.4262394238089 0 0 0 20.058072907173383,2.606242628050928 z"
                              id="svg_2" class="" fill="#198754" fill-opacity="1"/>
                    </g>
                </svg>
                {% endif %}
            </button>
            <div class="dropdown-menu bg-dark border-success border-3 rounded-3"
                 aria-labelledby="dropdownMenuButton;dropdownMenuLabel">
                <a class="simple-btn dropdown-item" href="/profile">
                    <i class="fa fa-id-card-o fa-1x simple-btn me-1" aria-hidden="true"></i>
                    Профиль
                </a>
                <hr class="simple-btn dropdown-divider m-1">
                <a class="simple-btn dropdown-item" href="/logout">
                    <i class="fa fa-sign-out fa-1x simple-btn me-1" aria-hidden="true"></i> Выход
                </a>
            </div>
        </div>
        {% else %}
        <div>
            <a href="/register">
                <button type="button" class="btn btn-sm btn-outline-success">
                    <i class="fa fa-user-plus fa-1x me-1 text-success" aria-hidden="true"></i>
                    Регистрация
                </button>
            </a>
            <a href="/login">
                <button type="button" class="btn btn-outline-primary mx-2">
                    <i class="fa fa-sign-in fa-1x me-1 text-primary" aria-hidden="true"></i> Вход
                </button>
            </a>
        </div>
        {% endif %}
    </nav>
</header>
<main>
    <div class="container-fluid w-50 mt-3 p-0 text-center rounded-3">
        <a href="/" class="mx-1">
            <button class="simple-btn btn btn-dark px-4 py-2">
                <i class="fa fa-home fa-1x simple-btn me-1" aria-hidden="true"></i> Главная
            </button>
        </a>
        <a href="/news" class="mx-1">
            <button class="simple-btn btn btn-dark px-3 py-2">
                <i class="fa fa-newspaper-o fa-1x simple-btn me-1" aria-hidden="true"></i> Новости
            </button>
        </a>
        <a href="/market" class="mx-1">
            <button class="simple-btn btn btn-dark px-3 py-2">
                <i class="fa fa-gamepad fa-1x simple-btn me-1" aria-hidden="true"></i> Аккаунты
            </button>
        </a>
        <a class="mx-auto" href="/reviews">
            <button class="simple-btn btn btn-dark px-3 py-2">
                <i class="fa fa-commenting fa-1x simple-btn me-1" aria-hidden="true"></i> Отзывы
            </button>
        </a>
        <a href="/contacts" class="mx-1">
            <button class="simple-btn btn btn-dark px-3 py-2">
                <i class="fa fa-phone fa-1x simple-btn me-1" aria-hidden="true"></i> Контакты
            </button>
        </a>
        <a href="https://vk.com/public203487503" class="mx-1" target="_blank">
            <button class="btn btn-dark px-3 py-2">
                <i class="fa fa-vk w-100 simple-btn" aria-hidden="true"></i>
            </button>
        </a>
    </div>
    {% block content %}
    {% endblock %}
</main>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>

