{% extends "base.html" %}

{% block content %}
<div class="container w-50 bg-dark rounded-3 mt-3 p-3 text-center">
    <h2 class="mb-3 simple-btn">Контакты</h2>
    <div class="d-flex">
        <div class="white-border border border-3 rounded-3 m-auto">
            <img src="{{ filename }}" width="800" height="640">
        </div>
        <div class="container p-0 text-start ms-4">
            <h4 class="mb-3 text-center">Разработчики</h4>
            <div class="d-flex mb-4 mx-3">
                <h5 class="my-auto">Карасев Дмитрий<br>Артемович</h5>
                <a href="https://github.com/dkarasevgthub" target="_blank" class="ms-3 my-auto">
                    <div class="simple-btn border border-1 rounded-3 p-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                             fill="currentColor" viewBox="0 0 16 16">
                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                        </svg>
                    </div>
                </a>
                <a href="https://vk.com/id545571708" target="_blank" class="ms-2 my-auto">
                    <div class="simple-btn border border-1 rounded-3 py-1 px-2">
                        <i class="fa fa-vk w-100" aria-hidden="true"></i>
                    </div>
                </a>
                <a href="https://www.instagram.com/wannadiebtw/" target="_blank" class="ms-2 my-auto">
                        <div class="simple-btn border border-1 rounded-3 py-1 px-2">
                            <i class="fa fa-instagram w-100" aria-hidden="true"></i>
                        </div>
                    </a>
            </div>
            <div class="mb-4 mx-3 d-flex">
                <h5 class="my-auto">Журавлев Семен<br>Сергеевич</h5>
                <div class="d-flex">
                    <a href="https://github.com/dkarasevgthub" target="_blank"
                       class="ms-4 my-auto">
                        <div class="simple-btn border border-1 rounded-3 p-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                 fill="currentColor" viewBox="0 0 16 16">
                                <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                            </svg>
                        </div>
                    </a>
                    <a href="https://vk.com/id358432944" target="_blank" class="ms-2 my-auto">
                        <div class="simple-btn border border-1 rounded-3 py-1 px-2">
                            <i class="fa fa-vk w-100" aria-hidden="true"></i>
                        </div>
                    </a>
                    <a href="https://www.instagram.com/wonderful_not_/" target="_blank" class="ms-2 my-auto">
                        <div class="simple-btn border border-1 rounded-3 py-1 px-2">
                            <i class="fa fa-instagram w-100" aria-hidden="true"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ms-1">
                <h5 class="text-center m-2">Почта для связи</h5><h5 class="m-2">
                k4rasev.mitya@ya.ru</h5><h5 class="m-2">zhuravlevsema77@gmail.com</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}