{% extends "base.html" %}

{% block content %}
<div class="container w-50 bg-dark rounded-3 mt-3 p-3 text-center">
    <h2 class="mb-3 simple-btn">Новости</h2>
    {% for item in news %}
    <div class="card text-center m-4 bg-dark rounded-3 border-success">
        <div class="card-header bg-success"></div>
        <div class="card-body border border-success">
            <h4 class="card-title mb-3">{{ item[0] }}</h4>
            <h6 class="card-text mx-auto w-75 text-center">{{ item[1] }}</h6>
        </div>
        <div class="card-footer">
            {{ item[2] }} {{ item[3] }} ago
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}