{% extends "base.html" %}

{% block content %}
<div class="container w-50 bg-dark rounded mt-3 p-3">
    {% if not current_user.is_authenticated %}
    <h2>Вы не авторизованы!!!</h2>
    {% else %}
    <div class="text-center mb-4"><h2 class="simple-btn">Мой профиль</h2></div>
    <div class="d-flex m-2">
        {% if current_user.is_photo %}
        <div class="white-border border border-3 rounded-3 m-auto">
            <img src="{{ url_for('static', filename=photo) }}" width="256" height="256">
        </div>
        {% else %}
        <div class="white-border border border-3 rounded-3 m-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" fill="currentColor"
                 style="">
                <rect id="backgroundrect" width="100%" height="100%" x="0" y="0" fill="none"
                      stroke="none" class="" style=""/>


                <g class="currentLayer" style=""><title>Layer 1</title>
                    <path d="M193.49710122060674,89.74631658161596 a64.09743764368731,64.09743764368731 0 1 1 -128.19487528737463,0 a64.09743764368731,64.09743764368731 0 0 1 128.19487528737463,0 z"
                          id="svg_1" class="" fill="#d1d1d1" fill-opacity="1"/>
                    <path fill-rule="evenodd"
                          d="M1.1916258250361746,128.02285325019562 a126.66231525670696,126.66231525670696 0 1 1 253.32463051341392,0 A126.66231525670696,126.66231525670696 0 0 1 1.1916258250361746,128.02285325019562 zm126.66231525670696,-110.82952584961863 a110.82952584961863,110.82952584961863 0 0 0 -86.57369247795926,180.0188155585948 C52.52152908281644,179.09943187746262 77.26817892609608,159.68843206437242 127.85394108174319,159.68843206437242 s75.31657920951939,19.39516702368326 86.57369247795926,37.52371089479946 A110.82952584961863,110.82952584961863 0 0 0 127.85394108174319,17.193327400576937 z"
                          id="svg_2" class="" fill="#d1d1d1" fill-opacity="1"/>
                </g>
            </svg>
        </div>
        {% endif %}
        <div class="container p-0 text-start ms-4">
            <div class="d-flex mb-4">
                <h5 class="my-auto"><i class="fa fa-user fa-1x simple-btn me-1" aria-hidden="true"></i> Имя пользователя: {{ name }}</h5>
                <a href="/redact_name">
                    <button class="simple-btn btn-sm btn-secondary ms-2">
                        <i class="fa fa-cog fa-1x simple-btn me-1" aria-hidden="true"></i>
                    </button>
                </a>
                <a href="/redact_password">
                    <button class="simple-btn btn-sm btn-secondary ms-3">
                        Изменить пароль
                    </button>
                </a>
            </div>
            <div class="d-flex my-4">
                <h5 class="my-auto">
                    <i class="fa fa-envelope fa-1x simple-btn me-1" aria-hidden="true"></i> Электронная почта: {{ email }}
                </h5>
                <a href="/redact_mail">
                    <button class="simple-btn btn-sm btn-secondary ms-2">
                        <i class="fa fa-cog fa-1x simple-btn me-1" aria-hidden="true"></i>
                    </button>
                </a>
            </div>
            <div class="d-flex my-4">
                <h5 class="my-auto">
                    <i class="fa fa-calendar-o fa-1x simple-btn me-1" aria-hidden="true"></i> Дата регистрации: {{ created_date[2] }}.{{ created_date[1] }}.{{ created_date[0] }}
                </h5>
            </div>
            <div class="d-flex my-4">
                <h5>
                    <i class="fa fa-camera fa-1x simple-btn me-1" aria-hidden="true"></i> Аватар
                </h5>
                <a href="/delete_avatar">
                    <button class="btn-sm btn-warning ms-3 me-2" type="button">
                        <i class="fa fa-trash-o fa-1x text-black" aria-hidden="true"></i> Удалить
                    </button>
                </a>
                <form method="post" enctype="multipart/form-data" class="d-flex">
                    <input class="form-control form-control-sm bg-secondary simple-btn" type="file"
                           name="file">
                    <button type="submit" class="btn-sm btn-success d-flex">
                        Загрузить
                    </button>
                </form>
            </div>
            <div class="d-flex mt-4">
                <a href="/delete">
                    <button class="btn-sm btn-danger ms-2">
                        <i class="fa fa-trash-o fa-1x simple-btn" aria-hidden="true"></i> Удалить профиль
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}