{% extends "base.html" %}

{% block content %}
<div class="container w-25 bg-dark rounded-3 mt-3 p-3 text-center">
    <h2 class="simple-btn">Редактирование пароля</h2>
    <form action="" method="post" enctype=multipart/form-data>
        <div class="mx-auto p-0">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="container-fluid my-4">
                {{ form.password_old.label }}
                {{ form.password_old(class="form-control", type="password", nullable=True) }}
                {% for error in form.password_old.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="container-fluid my-4">
                {{ form.password_new.label }}
                {{ form.password_new(class="form-control", type="password", nullable=True) }}
                {% for error in form.password_new.errors %}
                {{ error }}
                {% endfor %}
            </div>
            <div class="container-fluid my-4">
                {{ form.submit(type="submit", class="btn btn-success") }}
            </div>
            {% if message|length > 1 %}
            <div class="alert alert-danger mt-2">
                {{message}}
            </div>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}