{% extends "base.html" %}

{% block content %}
{% if not current_user.is_authenticated %}
    <div style="color: white">Вы не авторизованы!!!</div>
{% else %}
    <div class="container-fluid w-50 bg-white rounded-lg mt-5 p-5">
        <h2 style="color: black; margin-left: 50px; margin-top: -35px">Редактор профиля</h2>
        <a href="/redact_mail"><h6 style="color: black">Редактировать почту</h6></a>
        <a href="/redact_password"><h6 style="color: black">Редактировать пароль</h6></a>
        <a href="/redact_name"><h6 style="color: black">Редактировать имя пользователя</h6></a>
        <a href="/load_photo"><h6 style="color: black">Загрузить фотографию</h6></a>
    </div>
{% endif %}
{% endblock %}