{% extends "base.html" %}

{% block content %}
<div class="p-auto" style="margin-left: 300px">
    <h1 style="color: white"> Смена пароля </h1>
        <form action="" method="post" enctype=multipart/form-data>
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}

            <p style="color: white">
                {{ form.password_old.label }}<br>
                {{ form.password_old(class="form-control", type="password", nullable=True, style="width: 300px;") }}<br>
                {% for error in form.password_old.errors %}
                    <p style="color: red">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p style="color: white">
                {{ form.password_new.label }}<br>
                {{ form.password_new(class="form-control", type="password", nullable=True, style="width: 300px;") }}<br>
                {% for error in form.password_new.errors %}
                    <p style="color: red">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p style="margin-left: 65px">{{ form.submit(type="submit", class="btn btn-success") }}</p>
           {% if message|length > 1 %}
             <div class="alert alert-danger" style="max-width: 300px">{{message}}</div>
            {% endif %}
        </form>
</div>
{% endblock %}