{% extends "base.html" %}

{% block content %}
<div class="container w-50 bg-dark rounded mt-3 p-3 text-center">
    <h3 class="pb-3">Общие положения и гарантии</h3>
    <div>
        1. Настоящие «Правила продажи товаров в ДСП-магазине» (далее — «Правила») определяют
        порядок
        розничной купли-продажи Товаров через Интернет-магазин, и в соответствии со ст. 437
        Гражданского Кодекса РФ, являются официальной публичной офертой ООО «АВ-Груп» далее
        именуемого
        «Продавец», адресованной физическим или юридическим лицам, далее именуемым «Покупатель»,
        при
        совместном упоминании Продавец и Покупатель также именуются «Стороны», а каждый по
        отдельности
        «Сторона».

        2. Каждая Сторона гарантирует другой Стороне, что обладает необходимой право- и
        дееспособностью, а равно всеми правами и полномочиями, необходимыми и достаточными для
        заключения и исполнения договора купли-продажи.

        3. Заказывая Товары через Интернет-магазин, Покупатель соглашается с Правилами, изложенными
        ниже.

        4. К отношениям между Покупателем и Продавцом применяются положения Гражданского Кодекса РФ
        (в
        т. ч. положение о розничной купле-продаже (§ 2, глава 30), Закон РФ «О защите прав
        потребителей» от 07.02.1992 № 2300-1, Правила продажи товаров дистанционным способом,
        утверждённые Постановлением Правительства РФ № 612 от 27.09.2007 года и иные правовые акты,
        принятые в соответствии с ними.

        5. Продавец оставляет за собой право вносить изменения в настоящие Правила, в связи с чем
        Покупатель обязуется регулярно отслеживать изменения в Правилах, размещенных на странице
        Интернет-магазина. Уведомление об изменении настоящих Правил Продавец обязан разместить не
        позднее, чем за 5 (пять) рабочих дней до даты их вступления в силу.

        6. Покупатель соглашается с настоящими Правилами путем проставления отметки в графе «С
        Правилами продажи согласен» при оформлении Заказа.

        Регистрация в Интернет-магазине

        1. Оформить Заказ в Интернет-магазине могут зарегистрированные и незарегистрированные
        Покупатели.

        2. Продавец не несет ответственности за точность и правильность информации, предоставляемой
        Покупателем при регистрации.

        3. Покупатель, зарегистрировавшийся в Интернет-магазине, получает индивидуальную
        идентификацию
        путем предоставления логина и пароля. Индивидуальная идентификация Покупателя позволяет
        избежать несанкционированных действий третьих лиц от имени Покупателя и открывает доступ к
        дополнительным сервисам. Передача Покупателем логина и пароля третьим лицам запрещена,
        Покупатель самостоятельно несёт ответственность за все возможные негативные последствия, в
        случае передачи логина и пароля третьим лицам.

        4. Личные сведения, полученные в распоряжение Интернет-магазина при регистрации или
        каким-либо
        иным образом, не будут без разрешения пользователей, передаваться третьим организациям и
        лицам
        за исключением ситуаций, когда этого требует закон или судебное решение.

        Оформление и сроки выполнения Заказа

        1. Заказ Покупателя оформляется только через сеть Интернет.

        1.1. При оформлении Заказа Покупатель подтверждает, что ознакомлен с правилами продажи
        Товаров
        через Интернет-магазин и предоставляет Продавцу информацию необходимую для оформления
        Заказа.

        1.2. При оформлении Заказа через сеть Интернет Покупатель в разделе "Каталог продукции"
        находит
        требуемый товар и нажимает на кнопку с изображением корзины для добавления товара в заказ.
        Это
        же правило относится к товарам, рассчитанным в разделе "Заказать отдельную деталь" по
        индивидуальным размерам и типам кромки. Закончив подбор товаров, Покупатель нажимает кнопку
        "Оформить заказ" и переходит на форму завершения заказа. Покупатель заполняет форму и
        отправляет заказ Продавцу, нажав кнопку «Оплатить заказ».

        1.3. Покупатель имеет возможность оплатить стоимость заказа сразу, после окончания его
        оформления через платёжную систему "Platron". На данный момент через данную систему
        доступны
        следующие средства электронных платежей: банковская карта, мобильные кошельки БиЛайн и МТС,
        ЯндексДеньги, WebMoney, Qiwi. Если пользователь представляет юридическое лицо, он может
        выбрать
        вариант оплаты по безналичному расчёту по сформированному счёту.

        1.4. В случае если Покупатель представляет юридическое лицо, он должен распечатывает
        экземпляр
        Счета, представленный на последней странице оформления заказа. Покупатель обязан проверить
        правильность Счета и при необходимости обратиться к Продавцу для исправления Счета.

        2. Продавец по получению оплаты, производит подготовку и отгрузку товара. В процессе
        обработки
        заказа в "Личном кабинете" последовательно отображаются "Статусы заказа". Информация
        обновляется 2 раза в сутки, в рабочие дни.

        3. Для покупателей, получающих товар самовывозом и не нуждающихся враспиле, срок подборки
        заказа составляет 2 рабочих дня после поступления денег на счёт Продавца. В случае, если в
        заказе присутствуют услуги по распилу, кромлению или присадке, срок исполнения заказа
        составляет 10-15 рабочих дней.

        3.1. При отсутствии на складе декора, выбранного покупателем, срок изготовления может быть
        увеличен до 30 рабочих дней. При отсутствии декора на складе дилера, заказ может быть
        аннулирован в одностороннем порядке. Оплата за заказ при этом возвращается в 100% объеме.

        4. При оплате юридическим лицом по выставленному счёту, оплатить счет необходимо в течение
        3
        (трёх) банковских дней. В случае неоплаты Счета в установленный срок, заказ аннулируется.
        Если
        по истечении установленного срока оплаты Вы решаете оплатить счет, его обязательно
        переоформить
        т.к. цены на сайте меняются ежедневно, резерв действует в течение четырёх дней, после чего
        снимается и вследствие этого возможно отсутствие необходимого товара. Или свяжитесь по
        телефону
        с менеджером интернет-магазина через Контакт-центр по тел: (812) 313-19-79

        5. В случае возникновения у Покупателя вопросов, касающихся свойств и характеристик Товара,
        перед оплатой Заказа, Покупатель должен обратиться к Продавцу по телефону: (812) 313-19-79.

        Оплата Товара

        1. Цены указаны в российских рублях, с учетом всех налогов, за одну единицу товара.

        2. Заказать можно только тот Товар, у которого атрибут "Наличие" имеет значение "Есть в
        наличии" на момент заказа.

        3. Оплата Товара Покупателем производится в рублях:

        • Электронным платежом: через систему он-лайн платежей "Platron".
        • Банковским переводом по реквизитам, указанным в Счете.

        4. Плательщиком должен являться сам Покупатель - грузополучатель. Оплата от третьих лиц (не
        от
        Покупателя) - не допускается. Оплата наличными в офисах, наличными курьеру, наложенным
        платежом
        - не принимается.

        5. Формирование заказа начинается, после поступления денежных средств на счет ООО "АВ-Груп"
        или
        после поступления информации о прохождении платежа от системы "Platron". Информацию о
        зачислении средств можно получить на странице состояния заказа.

        6. Договор купли-продажи считается заключённым с момента оплаты Покупателем заказанных
        Товаров.

        7. Оплатить счет необходимо в течение 3 (трёх) банковских дней. В случае неоплаты Счета в
        установленный срок, заказ аннулируется.

        Доставка

        1. Продавец приложит все усилия для соблюдения даты и времени доставки, указанных в
        соответствующем Заказе, тем не менее, задержки в доставке возможны ввиду непредвиденных
        обстоятельств, произошедших не по вине Продавца.

        2. Риск случайной утраты или случайного повреждения Товара

        2.1. При доставке товара Покупателю силами Продавца или при самовывозе Товара, риск
        случайной
        утраты или случайного повреждения Товара переходит к Покупателю в момент передачи ему
        Товара и
        проставления Покупателем подписи в документах, подтверждающих доставку Заказа.

        2.2. При отгрузке товара в транспортную компанию, продавец доставляет товар до автомобиля
        транспортной компании (при отгрузке со склада ДСП-магазина) или до терминала транспортной
        компании (при доставке до терминала транспортной компании). Риск случайной утраты товара
        или
        его повреждения возлагается на продавца - до момента передачи его представителю
        транспортной
        компании и подписания соответствующих документов, и на покупателя - с указанного момента.

        3. Способы доставки:

        · "Доставка автомобилем "Газель" по Санкт-Петербургу" - Стоимость 1200 рублей. Доставка в
        пределах КАДа. Отгрузка осуществляется по готовности Заказа. Продавец предварительно
        связывается с Покупателем по телефону.

        · "Доставка автомобилем "Газель" по Ленинградской области" - стоимость доставки в зоне до
        50 км
        составляет 1600 руб. Стоимость доставки в зоне от 51 до 100 км составляет 2200 руб.
        Стоимость
        доставки в зоне от 101 до 150 км составляет 3200 руб. Стоимость доставки в зоне от 151 до
        200
        км составляет 4500 руб. Стоимость доставки в зоне от 201 км рассчитывается индивидуально,
        для
        каждой доставки.

        · "Доставка автомобилем в другие регионы России" - Доставка осуществляется по согласованию
        сторон, транспортной компанией, выбранной Покупателем по тарифной сетке транспортной
        компании.
        Услуги транспортной компании Покупатель оплачивает самостоятельно при получении груза. В
        случае, если транспортная компания не осуществляет забор груза от Продавца, стоимость
        доставки
        до транспортной компании рассчитывается по тарифу "Доставка автомобилем "Газель" по
        Санкт-Петербургу"

        4. Правила доставки располагаются на странице "Информация о доставке"

        5. Во избежание случаев мошенничества, при вручении предоплаченного Заказа покупатель
        должен
        предъявить документ удостоверяющий личность и назвать номер заказа.

        6. К заказанному товару прилагается товарная накладная. В случае если оплата осуществлялась
        юридическим лицом банковским переводом, формируется комплект документов, состоящий из
        оригинала
        счёта, счёта-фактуры, товарной накладной и, в случае если в заказе присутствовали услуги,
        акт
        выполненных работ. Отгрузка товара возможна только при предъявлении оформленной надлежащим
        образом доверенности или при наличии печати организации.

        Возврат Товара

        1. Обмен и возврат Товара осуществляется согласно действующего законодательства Российской
        Федерации.

        2. Возможность обмена или возврата товара согласуется через форму обратной связи. Товар,
        изготовленный по индивидуальным размерам и типам кромления Покупателя, возврату не
        подлежит.

        Гарантии и ответственность

        1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие
        ненадлежащего
        использования Товаров, приобретённых в Интернет-магазине.

        2. Продавец не отвечает за убытки Покупателя, возникшие в результате:

        • неправильного заполнения бланка-заказа, в т. ч. неправильного указания персональных
        данных,
        • неправомерных действий третьих лиц.

        3. Покупатель несёт всю ответственность за достоверность сведений, указанных им при
        регистрации
        в Интернет-магазине.

        4. Стороны освобождаются от ответственности за полное или частичное неисполнение своих
        обязательств, если такое неисполнение явилось следствием действия обстоятельств
        непреодолимой
        силы, возникших после вступления в силу Правил, в результате событий чрезвычайного
        характера,
        которые Стороны не могли предвидеть и предотвратить разумными мерами.

        6. В иных случаях, не предусмотренных данными. Правилами, неисполнения или ненадлежащего
        исполнения своих обязательств, Стороны несут ответственность в соответствии с действующим
        законодательством Российской Федерации.

        Конфиденциальность и защита персональной информации

        1. Предоставление информации Покупателем:

        1.1. При регистрации в Интернет-магазине Покупатель предоставляет о себе следующую
        информацию:
        Фамилия, Имя, адрес электронной почты, номер телефона, вариант пароля для доступа к
        Интернет-магазину.

        2. Использование информации предоставленной Покупателем и получаемой Продавцом.

        2.1. Продавец использует полученную от Покупателя информацию:

        • для регистрации Покупателя в Интернет-магазине;
        • для выполнения своих обязательств перед Покупателем;
        • для оценки и анализа работы Интернет-магазина;
        • для определения победителя в акциях, проводимых Продавцом.

        3. Разглашение информации, полученной Продавцом:

        3.1. Продавец обязуется не разглашать полученную от Покупателя информацию. Не считается
        нарушением предоставление Продавцом информации агентам и третьим лицам, действующим на
        основании договора с Продавцом, для исполнения обязательств перед Покупателем.

        3.2. Не считается нарушением обязательств разглашение информации в соответствии с
        обоснованными
        и применимыми требованиями закона.

        4. Продавец вправе использовать технологию cookies. (cookies — служебная информация,
        посылаемая
        веб-сервером на компьютер пользователя, для сохранения в браузере. Применяется для
        сохранения
        данных, специфичных для данного пользователя, и используемых веб-сервером для различных
        целей).
        Cookies не содержат конфиденциальную информацию и не передаются третьим лицам.

        5. Продавец получает информацию об ip-адресе (уникальный идентификатор устройства,
        подключённого к локальной сети и/или сети Интернет) посетителя Сайта. Данная информация не
        используется для установления личности посетителя.

        6. Продавец не несет ответственности за сведения, предоставленные Покупателем на Сайте в
        общедоступной форме.

        Прочие условия

        1. К отношениям между Покупателем и Продавцом применяются положения действующего
        законодательства Российской Федерации.

        2. Покупатель гарантирует, что все условия настоящих Правил ему понятны, и он принимает их
        безусловно и в полном объёме.

        3. В случае возникновения положительных отзывов и претензий со стороны Покупателя он должен
        обратиться в Отдел по работе с клиентами Продавца через форму обратной свзяи
        Все возникающее споры стороны будут стараться решить путем переговоров, при не достижении
        соглашения спор будет передан на рассмотрение в суд в соответствии с действующим
        законодательством РФ.

        4. Недействительность какого-либо положения настоящих Правил не влечет за собой
        недействительность остальных положений.

        В случае, если Покупатель не согласен хотя бы с одним из положений настоящих Правил, он не
        имеет права пользования интернет-магазином.
    </div>
</div>
{% endblock %}